<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Welcome to the shopping cart.</h3>
    <br><h3><a href = "http://localhost:3000/admin/login">Login as admin</a></h3>
    <br><h3><a href = "http://localhost:3000/shopper/login">Login as shopper</a></h3>
    <br><h3><a href = "http://localhost:3000/shopper/new">Register as a new shopper</a></h3>
  </body>
</html>
